:root {
	--color-primary: rgb(89, 89, 153);
	--color-secondary: rgba(186, 203, 236, 0.18);
	--color-tertiary: rgba(156, 184, 238, 0.44);

	--color-header: rgb(40, 44, 52);

	--color-border-primary: rgba(89, 89, 153, 0.431);
	--color-border-secondary: rgba(0, 0, 0, .12);

	--color-affermative: rgb(51, 125, 51);
	--color-negative: rgb(177, 34, 34);
}

.materialSymbolsOutlined {
	font-family: 'Material Symbols Rounded Variable', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.button {
	background: none;
	border: 1px solid var(--color-border-secondary);
	border-radius: 20px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.toast {

	bottom: 10px;
	border: none;
	border-radius: 8px;
	background: rgb(243, 246, 252);
	box-shadow: 0 5px 20px 0px rgb(202, 202, 202);

	animation: slide-up 0.5s ease-out;
}

.buttonText {
	padding: 5px 10px;

	border: none;
	background: var(--color-tertiary);
	border-radius: 20px;
}

@keyframes slide-up {
	from {
		transform: scale(40%) translateY(200%);
	}

	to {
		transform: scale(100%) translateY(0%);
	}
}


.App {
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100vh;
}

.header {
	background-color: var(--color-header);
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: calc(10px + 1vmin);
	font-style: italic;
	color: white;
}


.logo {
	animation: logo-spin infinite 20s linear;
	height: 5vmin;
	pointer-events: none;
}


@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.main {
	margin: 20px 20px 0 20px;
	width: 90vw;
	max-width: 100vw;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto;

	align-items: center;
	justify-content: center;
	gap: 10px;
}

@media (min-width: 600px) {
	.main {
		margin: 20px 20px 0 20px;
		width: 90vw;
		max-width: 100vw;
		min-height: 40vh;
		display: grid;
		grid-template-columns: 45% 50px 50%;
		align-items: start;

		gap: 10px;
	}
}

.block {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.label {
	font-size: 1.3em;
}

.inputBlock {
	display: flex;
	flex-direction: column;
	gap: 10px;

	padding: 20px;
	border: 1px solid var(--color-border-secondary);

	border-radius: 8px;
}

.input {
	min-height: 1em;
	max-width: 100%;
	min-width: 100%;

	border: none;

	font-family: monospace;
	font-size: 2em;
	
	padding: 10px;
	border-radius: 8px;
	box-sizing: border-box;
	background: rgba(128, 128, 128, 0.04);
}

.result {
	display: flex;
	flex-direction: column;

	padding: 10px;

	min-height: 80%;
	background: var(--color-secondary);
	color: var(--color-primary);
	font-family: monospace;
	font-size: 2em;
	word-break: break-all;
	white-space: normal;
	border-radius: 8px;
}

.slider {
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.value {
	padding: 10px;
	width: 50px;
	text-align: center;
	grid-area: 2 / 2 / 3 / 3;
	justify-self: center;
	font-size: 1.6em;
	background: var(--color-secondary);
	color: var(--color-primary);
	border-radius: 8px;
}

.shareOptions {
	overflow: hidden;
	margin-top: 10px;
	padding: 10px;
	transition: all 0.3s ease-out;

	height: 50px;
	background: var(--color-tertiary);
	border-radius: 8px;
}

.collapsed {
	height: 0;
	margin: 0;
	padding: 0 10px 0 10px;
}
